In [2]:
import pandas as pd
import numpy as np
import json
from osgeo import ogr
import shapeTojson

# Creating Geo Json from Shape file

All the 64 files in this folder contains different important informations. Make sure there is nothing missing.

In [3]:
# shapeTojson.shp2json('Shape_files/bgd_admbnda_adm0_bbs_20201113.shp')

# Reading Geo Json Files

I renamed `bgd_admbnda_adm1_bbs_20201113.json` to `BD Divisions` for easy understanding

In [4]:
bd_div = json.load(open('Geo Json Maps/BD_Divisions.json', 'r'))
bd_div['features'][0]['properties']

{'Shape_Leng': 25.424604387,
 'Shape_Area': 0.889395137451,
 'ADM1_EN': 'Barisal',
 'ADM1_PCODE': 'BD10',
 'ADM1_REF': None,
 'ADM1ALT1EN': None,
 'ADM1ALT2EN': None,
 'ADM0_EN': 'Bangladesh',
 'ADM0_PCODE': 'BD',
 'date': '2015/01/01',
 'validOn': '2020/11/13',
 'validTo': None}

In [5]:
bd_dist = json.load(open('Geo Json Maps/BD_Districts.json', 'r'))
bd_dist['features'][0]['properties']

{'Shape_Leng': 12.9298161737,
 'Shape_Area': 0.319708678277,
 'ADM2_EN': 'Bagerhat',
 'ADM2_PCODE': 'BD4001',
 'ADM2_REF': None,
 'ADM2ALT1EN': None,
 'ADM2ALT2EN': None,
 'ADM1_EN': 'Khulna',
 'ADM1_PCODE': 'BD40',
 'ADM0_EN': 'Bangladesh',
 'ADM0_PCODE': 'BD',
 'date': '2015/01/01',
 'validOn': '2020/11/13',
 'ValidTo': None}

In [6]:
bd_div['features'][0]['properties']['ADM1_EN']

'Barisal'

# District Map

In [7]:
district_id_map = {}
for i in range(len(bd_dist['features'])):
    district_id_map[bd_dist['features'][i]['properties']['ADM2_EN']] = bd_dist['features'][i]['id']
    
district_id_map

{'Bagerhat': 0,
 'Bandarban': 1,
 'Barguna': 2,
 'Barisal': 3,
 'Bhola': 4,
 'Bogra': 5,
 'Brahamanbaria': 6,
 'Chandpur': 7,
 'Chittagong': 8,
 'Chuadanga': 9,
 'Comilla': 10,
 "Cox's Bazar": 11,
 'Dhaka': 12,
 'Dinajpur': 13,
 'Faridpur': 14,
 'Feni': 15,
 'Gaibandha': 16,
 'Gazipur': 17,
 'Gopalganj': 18,
 'Habiganj': 19,
 'Jamalpur': 20,
 'Jessore': 21,
 'Jhalokati': 22,
 'Jhenaidah': 23,
 'Joypurhat': 24,
 'Khagrachhari': 25,
 'Khulna': 26,
 'Kishoreganj': 27,
 'Kurigram': 28,
 'Kushtia': 29,
 'Lakshmipur': 30,
 'Lalmonirhat': 31,
 'Madaripur': 32,
 'Magura': 33,
 'Manikganj': 34,
 'Maulvibazar': 35,
 'Meherpur': 36,
 'Munshiganj': 37,
 'Mymensingh': 38,
 'Naogaon': 39,
 'Narail': 40,
 'Narayanganj': 41,
 'Narsingdi': 42,
 'Natore': 43,
 'Nawabganj': 44,
 'Netrakona': 45,
 'Nilphamari': 46,
 'Noakhali': 47,
 'Pabna': 48,
 'Panchagarh': 49,
 'Patuakhali': 50,
 'Pirojpur': 51,
 'Rajbari': 52,
 'Rajshahi': 53,
 'Rangamati': 54,
 'Rangpur': 55,
 'Satkhira': 56,
 'Shariatpur': 57,
 'Sherpur': 58,
 'Sirajganj': 59,
 'Sunamganj': 60,
 'Sylhet': 61,
 'Tangail': 62,
 'Thakurgaon': 63}

In [8]:
len(district_id_map)

64

# Division Map

In [9]:
division_id_map = {}
for i in range(len(bd_div['features'])):
    division_id_map[bd_div['features'][i]['properties']['ADM1_EN']] = bd_div['features'][i]['id']
    
division_id_map

{'Barisal': 0,
 'Chittagong': 1,
 'Dhaka': 2,
 'Khulna': 3,
 'Mymensingh': 4,
 'Rajshahi': 5,
 'Rangpur': 6,
 'Sylhet': 7}

# Creating Dictionary

In [10]:
# Demo dataset

division_ill  = {
    'Division': ['Mymensingh', 'Barisal', 'Sylhet', 'Rangpur', 'Rajshahi', 'Dhaka', 'Khulna', 'Chittagong'],
    'False': [29496.00, 77472.00, 114314.00, 177595.00, 220127.00, 221650.00, 230609.00, 269934.00],
    'True': [25.00, 244.00, 147.00, 142.00, 627.00, 420.00, 660.00, 752.00],
    'Total': [29521.00, 77716.00, 114461.00, 177737.00, 220754.00, 222070.00, 231269.00, 270686.00]
}

division_ill = pd.DataFrame(division_ill)

# Display the DataFrame
print(division_ill)

     Division     False   True     Total
0  Mymensingh   29496.0   25.0   29521.0
1     Barisal   77472.0  244.0   77716.0
2      Sylhet  114314.0  147.0  114461.0
3     Rangpur  177595.0  142.0  177737.0
4    Rajshahi  220127.0  627.0  220754.0
5       Dhaka  221650.0  420.0  222070.0
6      Khulna  230609.0  660.0  231269.0
7  Chittagong  269934.0  752.0  270686.0

In [11]:
division_ill['id'] = division_ill['Division'].map(division_id_map)
division_ill

     Division     False   True     Total  id
0  Mymensingh   29496.0   25.0   29521.0   4
1     Barisal   77472.0  244.0   77716.0   0
2      Sylhet  114314.0  147.0  114461.0   7
3     Rangpur  177595.0  142.0  177737.0   6
4    Rajshahi  220127.0  627.0  220754.0   5
5       Dhaka  221650.0  420.0  222070.0   2
6      Khulna  230609.0  660.0  231269.0   3
7  Chittagong  269934.0  752.0  270686.0   1

# Plotly

In [12]:
import plotly.express as px
import plotly.io as pio

# render the figure in browser
pio.renderers.default = "browser"

## Show Map

In [13]:
fig = px.choropleth(
    division_ill,
    locations='id',
    geojson=bd_div,
    color='True',   # Name of the column from your dataset
    scope='asia',
    hover_name='Division',
    hover_data=['True']
    
)
fig.update_geos(fitbounds = "locations", visible=False)

fig.show()

## Show Mapbox

In [14]:
fig = px.choropleth_mapbox(
    division_ill,
    locations='id',
    geojson=bd_div,
    color='True',
    hover_name='Division',
    hover_data=['True'],
    mapbox_style="carto-positron",
    zoom=6,
    opacity=0.7,
    center = {"lat": 23.68, "lon": 90.35},
    labels={'True':'Ill in Division'},
    )

fig.show()